[user]
	email = past.hat6941@fastmail.com
	name = Luke Mains
[init]
	defaultBranch = main

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[merge]
conflictStyle = diff3

[alias]
graph = log --graph --pretty=format:'%C(auto)%h %Cgreen[%cr] %C(bold blue)<%><(8,trunc)%an> %C(yellow)-%C(auto)%d %s'

[delta]
    side-by-side = true
    navigate = true    # use n and N to move between diff sections
    hyperlinks = true
    hyperlinks-file-link-format = "zed://file/{path}:{line}"

