[[language]]
name = "python"
auto-format = true
language-servers = ["basedpyright", "ruff"]

[language-server.ruff]
command = "ruff"
args = ["server"]

[[language]]
name = "fish"
formatter = { command = "fish_indent" }
auto-format = true

[[language]]
name = "toml"
formatter = { command = "taplo", args = ["format", "-"] }
auto-format = true

[[language]]
name = "javascript"
formatter = { command = 'deno', args = ["fmt", "-", "--ext", "js"] }
auto-format = true

[[language]]
name = "json"
formatter = { command = 'deno', args = ["fmt", "-", "--ext", "json"] }

[[language]]
name = "markdown"
formatter = { command = 'deno', args = ["fmt", "-", "--ext", "md"] }
auto-format = true

[[language]]
name = "typescript"
formatter = { command = 'deno', args = ["fmt", "-", "--ext", "ts"] }
auto-format = true

[[language]]
name = "jsx"
formatter = { command = 'deno', args = ["fmt", "-", "--ext", "jsx"] }
auto-format = true

[[language]]
name = "tsx"
formatter = { command = 'deno', args = ["fmt", "-", "--ext", "tsx"] }
auto-format = true

[[language]]
name = "html"
formatter = { command = 'deno', args = ["fmt", "-", "--ext", "html"] }

[[language]]
name = "css"
formatter = { command = 'deno', args = ["fmt", "-", "--ext", "css"] }

[[language]]
name = "yaml"
formatter = { command = 'deno', args = ["fmt", "-", "--ext", "yaml"] }
auto-format = true

[language-server.jdtls]
command = "jdtls"
args = ["-data", "/home/alienmuskox/.cache/jdtls/workspace"]

[[language]]
name = "java"
scope = "source.java"
injection-regex = "java"
file-types = ["java"]
roots = ["pom.xml", "build.gradle"]
indent = { tab-width = 2, unit = "  " }
language-servers = ["jdtls"]
formatter = { command = "google-java-format", args = ["-"] }
auto-format = true

[[language]]
name = "nim"
formatter = { command = "nimpretty", args = ["--stdin"] }
auto-format = true

[[language]]
name = "latex"
formatter = { command = 'prettier', args = [
  "--plugin",
  "/home/alienmuskox/.cache/deno/npm/registry.npmjs.org/prettier-plugin-latex/2.0.1/dist/prettier-plugin-latex.js",
  "--parser",
  "latex-parser",
] }
auto-format = true

[[language]]
name = "svelte"
formatter = { command = 'deno', args = ['fmt', '--unstable-component'] }
auto-format = true

[[language]]
name = "kotlin"
language-servers = ["kotlin-lsp"]
# NOTE: ktlint is cool because it provides linting checks but when you have incorrect
# syntax in the kotlin file, it will output nothing and helix will think that the file
# was formatted correctly and replace the buffer with empty contents.
# formatter = { command = 'ktlint', args = [
#   "-F",
#   "--stdin",
#   "--log-level",
#   "none",
# ] }
formatter = { command = 'ktfmt', args = ['-'] }
auto-format = true

[language-server.kotlin-lsp]
command = "kotlin-lsp"
args = ["--stdio"]
